---
import Label from '@components/label.astro'
import type { LocalesType } from '@helpers/locale'

type Props = {
  locale: LocalesType
}

const { locale } = Astro.props
---

<section class='mb-28 sm:p-0 p-6'>
  <Label>
    {locale.home.contacts.heading}
  </Label>
  <div class='flex justify-between lg:items-start lg:flex-row flex-col items-center'>
    <div class='text-gray sm:w-[505px] w-full lg:mb-0 mb-8 lg:text-left text-center'>
      {locale.home.contacts.description}
    </div>
    <div class='border border-gray sm:p-4 p-2'>
      <div class='text-white font-semibold mb-4'>
        {locale.home.contacts.message}
      </div>
      <div class='flex items-center mb-4'>
        <img src='/assets/email.svg' alt='email' />
        <a href='mailto:anddrey779esveev@gmail.com' class='text-gray sm:ml-4 ml-1 sm:text-base text-sm'>
          andrey779evseev@gmail.com
        </a>
      </div>
      <div class='flex items-center'>
        <img src='/assets/telegram.svg' alt='email' />
        <div class='text-gray sm:ml-4 ml-1 sm:text-base text-sm'>@malifor</div>
      </div>
    </div>
  </div>
</section>
