---
import type { LocalesType } from '@helpers/locale'

type Props = {
  locale: LocalesType
}

const { locale } = Astro.props
---

<footer class='border-t border-gray sm:py-8 py-4 sm:px-0 px-8'>
  <div class='mx-auto w-full xl:max-w-5xl lg:max-w-4xl md:max-w-3xl ss:max-w-2xl sm:max-w-xl sm:p-0 p-8'>
    <div class='w-full flex justify-between sm:items-start items-center mb-12 sm:flex-row flex-col'>
      <div class="sm:mb-0 mb-8">
        <div class='flex items-center mb-4 sm:flex-row flex-col'>
          <span class="flex items-center">
            <img src='/assets/logo-filled.svg' alt='logo' class='w-6 h-6' />
            <span class='text-white font-bold text-2xl ml-2 mr-8'>Malifor</span>
          </span>
          <a
            href='mailto:andrey779evseev@gmail.com'
            class='text-gray hover:text-white transition-colors'
          >
            andrey779evseev@gmail.com
          </a>
        </div>
        <div class='text-gray sm:text-left text-center'>
          {locale.footer.description}
        </div>
      </div>
      <div class="flex flex-col sm:items-start items-center sm:w-fit w-full">
        <div class='text-white font-medium text-2xl mb-3'>
          {locale.footer.media}
        </div>
        <div class='flex items-center'>
          <a
            href='https://github.com/andrey779evseev'
            target='_blank'
            class='mr-4'
          >
            <img src='/assets/github.svg' alt='github-icon' />
          </a>
          <a
            href='https://www.linkedin.com/in/andrew-evseev-4a890b216'
            target='_blank'
          >
            <img src='/assets/linkedIn.svg' alt='linkedIn-icon' />
          </a>
        </div>
      </div>
    </div>
    <div class='text-gray w-full text-center'>
      © Copyright 2023. Made by Malifor
    </div>
  </div>
</footer>
