---
import type { LocalesType } from "@helpers/locale";

type Props = {
  locale: LocalesType;
};

const { locale } = Astro.props;
---

<footer class="border-t border-gray py-4 px-8 sm:py-8 sm:px-0">
  <div
    class="mx-auto w-full p-8 sm:max-w-xl sm:p-0 ss:max-w-2xl md:max-w-3xl lg:max-w-4xl xl:max-w-5xl"
  >
    <div
      class="mb-12 flex w-full flex-col items-center justify-between sm:flex-row sm:items-start"
    >
      <div class="mb-8 sm:mb-0">
        <div class="mb-4 flex flex-col items-center sm:flex-row">
          <span class="flex items-center">
            <img src="/assets/logo-filled.svg" alt="logo" class="h-6 w-6" />
            <span class="ml-2 mr-8 text-2xl font-bold text-white">Malifor</span>
          </span>
          <a
            href="mailto:andrey779evseev@gmail.com"
            class="text-gray transition-colors hover:text-white"
          >
            andrey779evseev@gmail.com
          </a>
        </div>
        <div class="text-center text-gray sm:text-left">
          {locale.footer.description}
        </div>
      </div>
      <div class="flex w-full flex-col items-center sm:w-fit sm:items-start">
        <div class="mb-3 text-2xl font-medium text-white">
          {locale.footer.media}
        </div>
        <div class="flex items-center">
          <a
            href="https://github.com/andrey779evseev"
            target="_blank"
            class="mr-4"
          >
            <img src="/assets/github.svg" alt="github-icon" />
          </a>
          <a
            href="https://www.linkedin.com/in/andrew-evseev-4a890b216"
            target="_blank"
          >
            <img src="/assets/linkedIn.svg" alt="linkedIn-icon" />
          </a>
        </div>
      </div>
    </div>
    <div class="w-full text-center text-gray">
      © Copyright 2023. Made by Malifor
    </div>
  </div>
</footer>
